@font-face {
  font-family: AlBayan;
  src: url('../fonts/AlBayan.ttf');
}


.loading {
  height: 100px;
  width: 100px;
  /* background-color: blue; */
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #401c73;
  animation: spin infinite 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-all-article{
  font-size: 18px;
  font-weight: 700;
  color: #7663a5;
  margin-bottom: 0px;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

/* search dropdown */
.search-dropdown{
  background-color: #fff;
  margin-top: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
  border-radius: 15px;
  padding: 15px 25px;
  min-height: 130px;
  box-shadow: 0 100vw 0 100vw #59595975, 0 5px 5px #59595975;
  z-index: 1;
}
.search-dropdown .title {
  font-size: 18px;
  font-weight: 700;
  color: #7663a5;
  margin-bottom: 0px;
}
.search-dropdown .text-label{
  font-size: 16px;
  font-weight: 400;
  color: #7663a5;
  margin-top: 15px;
}
.person-info{ 
  background: #F5F7F7;
  border-radius: 10px;
  padding: 15px;
  display: flex;
}

.person-info .text-name{
  font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #7663A5;
margin-bottom: 0;
padding-left: 10px;
}
.person-info .text-position{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;  
  color: #ABABAB;
  padding-left: 10px;
}
/* search dropdown */
body {
  background-color: #f5f7f7 !important;
  font-family: 'Poppins', sans-serif !important;
  padding-bottom: 20px;
}

.f-AI {
  font-family: 'AlBayan', sans-serif !important;
}

.heading-title {
  font-family: 'AlBayan', sans-serif !important;
  font-size: 32px;
  color: #401c73;
  font-weight: 700;
}

.f-10 {
  font-size: 10px;
}

/* common buttons */
.primary-button {
  background-color: #401c73;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  color: #fff;
}

.primary-button:hover,
.primary-button:focus,
.primary-button.btn:focus-visible {
  background-color: #A495C5;
  color: #fff;
}

.primary-button-2 {
  background-color: #03445C;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
}

.primary-button-2:hover,
.primary-button-2:focus,
.primary-button-2.btn:focus-visible {
  background-color: #A495C5;
  color: #fff;
}

.primary-button-3 {
  background-color: #03445C;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 10px;
}

.primary-button-3:hover,
.primary-button-3:focus,
.primary-button-3.btn:focus-visible {
  background-color: #A495C5;
  color: #fff;
}

.dashboard-container {
  background-color: #401c73;
  height: 300px;
}

.logo {
  width: 193px;
  margin-top: 40px;
}

.dashboard-container .main {
  width: 100%;
  margin: 50px auto;
}

.profile-menu .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}


.has-search .form-control {
  padding-left: 2.375rem;
  min-height: 50px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 50px;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.dashboard-container .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container .bell-icon-div {
  display: flex;
  justify-content: end;
  padding-top: 45px;
  align-items: center;
}

.dashboard-container .profile-details {
  margin-right: 20px;
  text-align: right;
}


.dashboard-container .profile-name {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}

.dashboard-container .profile-title {
  font-size: 12px;
  color: #fff;
}

.dashboard-container .profile-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
}

.dashboard-container .profile-menu-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 0;
  padding-left: 20px;
}

.apps-container {
  background-color: #fff;
  border-radius: 20px;
  margin-top: -60px;
  padding-bottom: 30px;
}

.apps-container .app-div {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 30px 15px 20px;
}

.apps-container .app-name {
  font-size: 32px;
  color: #401c73;
  font-weight: 700;
}

.apps-container .app-div .viewall {
  background-color: #401c73;
  border-radius: 5px;
  border: none;
}

.apps-container .company-logo-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 100px;
}

.apps-container .company-logo {
  text-align: center;
  padding-top: 25px;
}

.apps-container .company-details {
  font-size: 12px;
  color: #ababab;
  font-weight: 400;
  padding-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.apps-container .company-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.apps-container .company-desc .know-yours {
  font-size: 20px;
  color: #401c73;
  font-weight: 500;
}

.apps-container .app-logo-div {
  border: 0.5px solid #ababab;
  padding: 15px 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
}

.social-updates .social-updates-left {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
}

.social-updates .social-updates-right {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
}

.social-updates .social-updates-left .socail {
  font-size: 32px;
  color: #401c73;
  font-weight: 700;
}

.social-updates .social-updates-left .nav-link {
  color: #401c73;
  font-size: 24px;
  font-weight: 500;
}

.b-bottom {
  border-bottom: 1px solid #ABABAB;
}

.social-updates .social-updates-left .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #f5f7f7;
  color: #401c73;
  font-size: 24px;
  font-weight: 500;
}

.social-updates .social-updates-right .nav-link {
  color: #401c73;
  font-size: 24px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.social-updates .social-updates-right .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #f5f7f7;
  color: #401c73;
  font-size: 24px;
  font-weight: 500;
}

.social-updates .social-updates-right .knowledge-repo {
  margin-left: 15px;
  display: flex;
  justify-content: center;

}

.social-updates .social-updates-right .knowledge-repo-details {
  padding-left: 15px;
}

.social-updates .social-updates-right .knowledge-repo-details .knwlg-title {
  font-size: 20px;
  font-weight: 700;
  color: #7663a5;
}

.social-updates .social-updates-right .knowledge-repo-details .knwlg-text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.37);
}

.social-updates .social-updates-right .view-all-div {
  text-align: center;
}

.social-updates .social-updates-right .view-all-div .viewall {
  background-color: #401c73;
  border-radius: 5px;
  border: none;
}

.social-updates .social-updates-left .social-updates-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-updates .social-updates-left .social-container {
  padding: 20px 20px;
  background: #f5f7f7;
  border-radius: 20px;
}

.social-updates .social-updates-left .socail-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f7f7;
  border-radius: 20px;
}

.social-updates .social-updates-left .twitter-title {
  font-size: 20px;
  color: #401c73;
  font-weight: 500;
  margin-bottom: 0px;
}

.social-updates .social-updates-left .twitter-jobrole {
  font-size: 16px;
  color: #401c73;
  font-weight: 500;
  margin-bottom: 0px;
  opacity: 0.5;
}

.social-updates .social-updates-left .twitter-details {
  margin-left: 15px;
}

.social-updates .social-updates-left .socail-flex .follow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-updates .social-updates-left .socail-flex .follow-text {
  font-size: 20px;
  color: #401c73;
  opacity: 0.5;
  font-weight: 500;
  margin-bottom: 0;
  padding-right: 15px;
}

.social-updates .social-updates-left .twitter-description {
  color: rgba(30, 30, 30, 0.49);
  font-size: 18px;
  font-weight: 400;
  padding-top: 15px;
  padding-left: 75px;
}

.card-wrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
}

.schedule-calendar .schedule-calendar-left .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #f5f7f7;
  color: #401c73;
  font-size: 24px;
  font-weight: 500;
}

.schedule-calendar .schedule-calendar-left .nav-link {
  color: #401c73;
  font-size: 24px;
  font-weight: 500;
}

.schedule-calendar .socail {
  font-size: 32px;
  color: #401c73;
  font-weight: 700;
}

.schedule-calendar .schedule-calendar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-calendar .date-flex {
  background-color: #a495c5;
  border-radius: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 225px;
  padding: 20px 20px;
}

.schedule-calendar .date-flex .date {
  font-size: 54px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0px;
}

.schedule-calendar .date-flex .month {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0px;
}

.schedule-calendar .date-flex .date-div {
  margin-left: 15px;
}

.schedule-calendar .schedule-calendar-div .product-launch-title {
  font-size: 24px;
  color: #401c73;
  font-weight: 500;
  margin-bottom: 0px;
}

.schedule-calendar .schedule-calendar-div .product-launch-person {
  font-size: 20px;
  color: #401c73;
  font-weight: 400;
  margin-bottom: 5px;
}

.schedule-calendar .schedule-calendar-div .product-launch .clock-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.schedule-calendar .schedule-calendar-div .product-launch-time {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.37);
  font-weight: 400;
  padding-left: 5px;
  margin-bottom: 0px;
}

.schedule-calendar .schedule-calendar-div .next-image-div {
  margin-right: 15px;
}

.schedule-calendar .days-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
}

.schedule-calendar .days-container .leavbtn {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.schedule-calendar .days-container .daysoff {
  font-size: 32px;
  color: #401c73;
  font-weight: 700;
  padding-left: 15px;
  padding-bottom: 50px;
}


.schedule-calendar .days-container .days-container-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.schedule-calendar .days-container .days-circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 2.94149px solid #a495c5;
  box-sizing: border-box;
  position: relative;
}

.schedule-calendar .days-container .days-circle .circle-detils {
  position: absolute;
  top: 40px;
  left: 58px;
}

.schedule-calendar .days-container .days-digit {
  font-size: 40px;
  color: #000;
  font-weight: 600;
  margin-bottom: 0px;
}

.schedule-calendar .days-container .out-off {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.37);
  font-weight: 400;
}

.schedule-calendar .days-container .apply {
  background-color: #401c73;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.schedule-calendar .days-container .dasyof-date-div {
  border-left: 6px solid #EF9FAC;
  padding-left: 20px;
  margin-bottom: 20px;
}

.schedule-calendar .days-container .description-days {
  font-size: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 0px;
}

.schedule-calendar .days-container .days-date {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.37);
  font-weight: 400;
}

.schedule-calendar .days-container .days-of-button-div .pending {
  background: #EF9FAC;
  border-radius: 17px;
  border: none;
  width: 100%;
}

.rejected {
  background-color: #EB455F;
  border-radius: 17px;
  border: none;
}

.rejected-border {
  border-left: 6px solid #EB455F !important;
}

.confirm-border {
  border-left: 6px solid #20A353 !important;
}

.confirm {
  background-color: #20A353;
  border-radius: 17px;
  border: none;
}

.schedule-calendar .benlove-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
}

.schedule-calendar .benlove-container .benlove-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-calendar .benlove-title {
  font-size: 32px;
  font-weight: 700;
  color: #401c73;
  margin-bottom: 0px;
}

.schedule-calendar .visits {
  font-size: 20px;
  background-color: #401c73;
  border-radius: 6px;
  border: none;
}

.schedule-calendar .benlove-container .benlove-text {
  font-size: 20px;
  color: #ABABAB;
  font-weight: 500;
  padding-top: 10px;
}

.schedule-calendar .benlove-container .know-yours {
  font-size: 20px;
  color: #401c73;
  font-weight: 500;
}

.schedule-calendar .benlove-container .benifits .image-div {
  background-color: #F5F7F7;
  border-radius: 12px;
  width: 190px;
  text-align: center;
  padding: 10px;
}

.schedule-calendar .benlove-container .benifits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-calendar .benlove-container .benifits .learn {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
  padding-top: 15px;
}


.employee-profile-container .employee-banner-container {
  border-radius: 10px;
  margin-top: -60px;
  background-image: url('../assets/images/employee-banner.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  position: relative;
}

.employee-profile-container .employee-banner-container .social-icon-flex {
  position: absolute;
  right: 50px;
  bottom: 40px;
  z-index: 1;
}

.employee-profile-container .employee-banner-container .social-icon-flex .social-icon-distnace {
  margin-right: 30px;
}

.mt-60px {
  margin-top: -150px;
}

.pt-190 {
  padding-top: 190px;
}

.employe-profile-icon-div {
  max-width: 293px;
  width: 100%;
  padding-left: 50px;
}

.employee-profile-container .employe-profile-name-div {
  margin-top: 180px;
  margin-left: 80px;

}

.employee-profile-container .employe-profile-name-div .emp-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #401c73;
  margin-bottom: 0;
}

.employee-profile-container .employe-profile-name-div .emp-job {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(30, 30, 30, 0.49);
  margin-bottom: 0;
  padding-left: 20px;
}

.employee-profile-container .employe-profile-name-div .flag-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.employe-profile-container-two .personal-information {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px;
}

.employe-profile-container-two .personal-information .personal-information-text {
  font-size: 32px;
  font-weight: 700;
  color: #401c73;
}

.employe-profile-container-two .personal-information .email-text {
  font-size: 20px;
  font-weight: 500;
  color: #401c73;
}

.employe-profile-container-two .personal-information .email-example {
  color: #ABABAB;
  font-size: 20px;
  font-weight: 400;
}

.employe-profile-container-two .company-information {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px;
}

.employe-profile-container-two .company-information .company-information-text {
  font-size: 32px;
  font-weight: 700;
  color: #401c73;
}


.employe-profile-container-two .company-information .bio-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.employe-profile-container-two .company-information .bio-flex-two {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.employe-profile-container-two .company-information .bio {
  font-size: 20px;
  font-weight: 500;
  color: #401c73;
  opacity: 0.99;
  margin-bottom: 0px;
}

.employe-profile-container-two .company-information .edit-bio {
  font-size: 20px;
  font-weight: 500;
  color: #401c73;
  opacity: 0.99;
  text-decoration: underline;
  margin-bottom: 0px;
}

.employe-profile-container-two .company-information .edit-bio {
  font-size: 20px;
  font-weight: 500;
  color: #401c73;
  opacity: 0.99;
  text-decoration: underline;
  margin-bottom: 0px;
  padding-right: 15px;

}

.employe-profile-container-two .company-information .bio-description {
  font-weight: 400;
  font-size: 20.7519px;
  line-height: 31px;
  color: #ABABAB;
  padding-top: 20px;
  border-bottom: 1px solid #ABABAB;
  padding-bottom: 15px;
}

.employe-profile-container-two .company-information .manger-icon-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
}

.employe-profile-container-two .company-information .bio-description-one {
  font-weight: 400;
  font-size: 20.7519px;
  line-height: 31px;
  color: #ABABAB;
  margin-bottom: 0px;
  padding-left: 15px;
}

.employe-profile-container-two .company-information .team-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employe-profile-container-two .company-information .team-div .team-member-close {
  margin-right: -15px;
}

.employe-profile-container-two .company-information .team-div .team-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employe-profile-container-two .company-information .team-div .team-member .team-number {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 0px;
  margin-left: 25px;
}


.employe-profile-container-two .my-schedule {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px;
}

.employe-profile-container-two .my-schedule .my-schedule-text {
  font-size: 32px;
  font-weight: 700;
  color: #401c73;
}

.employe-profile-container-two .my-schedule .my-schdule-flex .my-schedule-text {
  font-size: 32px;
  font-weight: 700;
  color: #401c73;
}

.employe-profile-container-two .my-schedule .my-schdule-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employe-profile-container-two .my-schedule .my-schdule-flex .bio-flex-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.employe-profile-container-two .my-schedule .my-schdule-flex .bio-flex-two .edit-bio {
  font-size: 20px;
  font-weight: 500;
  color: #401c73;
  opacity: 0.99;
  text-decoration: underline;
  margin-bottom: 0px;
  margin-right: 15px;
}

.employe-profile-container-two .my-schedule .description-schedule {
  font-size: 20px;
  font-weight: 500;
  color: #401c73;
  opacity: 0.99;
}

.employe-profile-container-two .my-schedule .schedule-date-div {
  background-color: #A495C5;
  border-radius: 17.0587px;
  width: 190px;
  padding: 20px 20px;

}

.employe-profile-container-two .my-schedule .schedule-date-div .schedule-date {
  font-weight: 400;
  font-size: 20.4705px;
  line-height: 166.5%;
  color: #fff;
}

.employe-profile-container-two .my-schedule .schedule-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employe-profile-container-two .my-schedule .schedule-container .leave-type {
  font-weight: 400;
  font-size: 20.4705px;
  line-height: 166.5%;
  color: #401C73;
}

.employe-profile-container-two .my-schedule .schedule-container .Confirmed {
  background: #20A353;
  border-radius: 21.7144px;
  border: none;
}

.employe-profile-container-two .company-information .Joining-date {
  font-weight: 500;
  font-size: 20.4705px;
  line-height: 166.5%;
  color: #401C73;
  opacity: 0.99;
  padding-top: 20px;
  margin-bottom: 0px;
}

.employe-profile-container-two .company-information .joining-date-details {
  font-weight: 400;
  font-size: 20.7519px;
  line-height: 31px;
  color: #ABABAB;
}


.apps-container .apps-deatils-tab {
  padding: 30px 20px;
  text-align: left;
}

.app-banner {
  max-width: 750px;
  width: 100%;
}

.apps-container .apps-deatils-tab .apps-deatils-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #401c73;
}

.apps-container .apps-deatils-tab .apps-deatils-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 166.5%;
  color: rgba(0, 0, 0, 0.37);
}

.app-tab-main {
  margin-top: 65px;
}

.myntra-container .myntra-subcontainer {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 18px;
}

.myntra-container .mytra-app-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myntra-container .mytra-app-card .myntra-details {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.myntra-container .mytra-app-card .myntra-details .myntra-title-subtitle {
  padding-left: 20px;
  text-align: left;
}

.myntra-container .mytra-app-card .myntra-details .myntra-name {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-bottom: 0px;
}

.myntra-container .mytra-app-card .myntra-details .myntra-subname {
  color: rgba(0, 0, 0, 0.37);
  font-size: 16px;
  font-weight: 400;
}

.myntra-container .mytra-app-card .myntra-button .Visit {
  background-color: #03445c;
  border-radius: 10px;
  width: 122px;
  padding: 10px 10px;
  border: none;
}

.myntra-container .myntra-subcontainer .tshirt-div {
  background: #f5f7f7;
  border-radius: 10px;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  margin-right: 20px;
}

.myntra-container .myntra-subcontainer .myntra-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.myntra-container .myntra-subcontainer .myntra-product .purchased {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.37);
  font-weight: 400;
  margin-bottom: 0;

}

.myntra-container .myntra-subcontainer .myntra-product .tshirt-div .tshirt-order-num {
  font-size: 20px;
  color: #00425a;
  font-weight: 700;

}

.myntra-container .myntra-subcontainer .tshirt-div-one {
  background: #f5f7f7;
  border-radius: 10px;
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.myntra-container .book-myshow-container {
  background-color: #fff;
  border-radius: 18px;
  padding: 20px 20px;
  min-height: 240px;
}

.myntra-container .book-myshow-container .book-myshow-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.myntra-container .book-myshow-container .book-myshow-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.myntra-container .book-myshow-container .book-myshow-flex .book-my-show-details {
  margin-left: 15px;
  text-align: left;
}

.myntra-container .book-myshow-container .book-myshow-flex .book-my-show-details .bookmyshow {
  font-weight: 400;
  font-size: 17.4694px;
  line-height: 166.5%;
  color: #00425A;
  margin-bottom: 0px;
}


.myntra-container .book-myshow-container .book-myshow-flex .book-my-show-details .roman-regins {
  color: rgba(0, 0, 0, 0.37);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}

.myntra-container .book-myshow-subcontainer .vsite {
  background-color: #03445c;
  border-radius: 10px;
  width: 122px;
  padding: 10px 10px;
  border: none;
}

.bg-img {
  background-color: #F5F7F7;
  padding: 5px;
  border-radius: 5px;
}

.bg-img img {
  margin-bottom: 5px;
}

.amt {
  font-size: 12px;
  font-weight: 600;
  color: #00425A;
  text-align: center;
}

.color-gray {
  color: rgba(0, 0, 0, 0.37);
}

.app-tabs .nav-pills .nav-link.active,
.app-tabs .nav-pills .show>.nav-link {
  border: 0.5px solid transparent;
  background-color: #A495C5;
  color: #fff;
}

.app-tabs .nav-pills .nav-link {
  padding: 8px 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.37);
}

.app-tabs .nav-item {
  margin-right: 20px;
}


.news-container .news-div-left {
  text-align: left;
  padding-top: 40px;
}

.news-container .news-div-left .news-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #00425a;
}

.news-container .news-div-left .news-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
    color: rgba(0, 0, 0, 0.37);
  
}

.news-container .news-div-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-container .news-div-right .news-right-details {
  text-align: left;
  margin-left: 25px;
}

.news-container .news-div-right .news-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #00425a;
}

.news-container .news-div-right .news-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(30, 30, 30, 0.49);
}

.news-container .news-div-right .news-right-details .readmore-news {
  background: none;
  color: #CC5B5F;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.news-slider img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  width: 100%;
}

.news-slider .slick-prev:before,
.news-slider .slick-next:before {
  font-size: 30px;
}

.news-slider .slick-next {
  right: 20px;
  z-index: 1;
}

.news-slider .slick-prev {
  left: 20px;
  z-index: 1;
}

.news-slider .text-info-detail {
  background-color: #A495C5;
  padding: 25px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -10px;
  margin-bottom: 0;
}


@media only screen and (max-width: 1400px) and (min-width: 991px) {
  .w-22 {
    width: 22%;
  }

  .w-56 {
    width: 56%;
  }
}


@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 95% !important;
  }
}

@media (min-width: 1600px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 90% !important;
  }
}